
Atom/

autostart/

Bitwarden/

cef_user_data/

Code/

configstore/

dconf/

Electron/

flameshot/

gh/

GIMP/

GitKraken/

gtk-2.0/

gtk-3.0/

libreoffice/

Microsoft/

Microsoft Teams - Preview/

noisetorch/

ookla/

procps/

pulse/

spicetify/

spotify/

teams/

vlc/

Thunar/

whatsdesk/

xfce4/

xournalpp/

yay/

mimeapps.list

pavucontrol.ini

QtProject.conf

user-dirs.dirs

user-dirs.locale
