
Atom/

autostart/

Bitwarden/

cef_user_data/

Code/

configstore/

dconf/

discord/

Electron/

flameshot/

gh/

GIMP/

GitKraken/

gtk-2.0/

gtk-3.0/

htop/

libreoffice/

light/

lutris/

Microsoft/

Microsoft Teams - Preview/

nitrogen/

noisetorch/

ookla/

opensnitch/

procps/

pulse/

retroarch/

scripts/lynis/

spicetify/

spotify/

teams/

vlc/

Thunar/

transmission/

whatsdesk/

xfce4/

xournalpp/

yay/

mimeapps.list

pavucontrol.ini

QtProject.conf

user-dirs.dirs

user-dirs.locale
